Pruebas_Kraken/node_modules/
Pruebas_Kraken/reports/
.DS_Store
Pruebas_Kraken/.DS_Store
Pruebas_Cypress/node_modules/
Pruebas_Kraken/.DS_Store
Pruebas_Kraken/features/.DS_Store
Resemble/node_modules
Regresion_Visual_Resemble/